// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.carousel-item{
    height: 80vh;
    overflow: hidden;
    color: white;
    background-position: center;
    background-size: cover;
}
